<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link data-th-href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link data-th-href="@{/css/main.css}" rel="stylesheet">
</head>

<body>

	<div class="container">

		<div class="row">
			<div id="title">
				<h1>Ma bibliothèque</h1>
			</div>
			<table id="allBooks" class="table table-striped">
				<thead>
					<tr>
						<th width="40%">Titre du livre</th>
						<th width="20%">Date de parution</th>
						<th width="30%">Auteurs</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="result" data-th-each="book : ${books}">
						<td>[[${book.title}]]</td>
						<td>[[${#dates.format(book.publicationDate,'dd-MM-yyyy')}]]</td>
						<td>
							<div th:each="author : ${book.authors}"><span th:text="${author}"></span></div>
						</td>
						<td><a th:href="@{/delete_book/__${book.id}__}" class="btn btn-danger">Delete</a>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-sm-12">
			<div class="float-right">
				<a th:href="@{/display_book_form}" class="btn btn-info ">Add book</a>
			</div>
		</div>
	</div>
</body>